<!DOCTYPE html>
<html>
<head>
    <title>Registration Form</title>
</head>
{% if user.is_authenticated %}
<a href="{% url 'bankapp:home' %}">Home</a> <!-- Link to return to the home page -->
    <button class="btn btn-outline-success me-2" type="button"><a href="{% url 'credential:back' %}">Back to Home</a></button>
    <button class="btn btn-sm btn-outline-secondary" type="button"><a href="{% url 'credential:logout' %}">Log out</a></button>
{% endif %}
<body>
        <h1>Registration form</h1>
    <form method="post" action="update">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>

<ul class="messages">
    {% for mes in messages %}
    <script>
    alert('{{ mes }}');
    </script>

    {% endfor %}

</body>
</html>